enable
conf t
hostname R1

interface fa0/0
ip add 10.0.0.2 255.255.255.252
description ISP_FA0/0
no sh

interface s0/0/0
ip add 203.11.74.129 255.255.255.252
description R2_S0/0/0
no sh

interface s0/0/1
ip add 203.11.74.133 255.255.255.252
description R3_S0/0/0
no sh
exit


router rip
version 2
no auto
passive-interface default
no pas s0/0/0
no pas s0/0/1
default-in or
network 203.11.74.128
network 203.11.74.132
exit

ip route 0.0.0.0 0.0.0.0 10.0.0.1
ip route 0.0.0.0 0.0.0.0 fa0/0


_______________________________________



enable
conf t
hostname R2

interface fa0/0
ip add 203.11.72.1 255.255.254.0
description SW2_FA0/2_VLAN_A
no sh

interface fa0/1
ip add 203.11.74.1 255.255.255.192
description SW2_FA0/1_VLAN_B
no sh



interface s0/0/0
ip add 203.11.74.130 255.255.255.252
description R1_S0/0/0
no sh

interface fa1/0
ip add 203.11.74.65 255.255.255.192
description S1_SEGMENT
no sh
exit


router rip
version 2
no auto
passive-interface default
no pas s0/0/0
network 203.11.74.128
network 203.11.74.64
network 203.11.74.0
network 203.11.72.0
exit

______________________________________________


enable
conf t
hostname R3

interface se0/0/0
ip add 203.11.74.134 255.255.255.252
description R1_Se0/0/1
no sh

interface Fa0/0
ip add 203.11.72.2 255.255.254.0
description SW1_GI0/2_VLAN_A
no sh

exit


router rip
version 2
no auto
passive-interface default
no pas s0/0/0
network 203.11.74.132
network 203.11.72.0
exit

______________________________________________


enable
conf t
hostname SW1

vlan 34
name VLAN_A
vlan 45
name VLAN_B



int gi0/2
switchport mode access
switchport access vlan 34
descr R3_FA0/0_VLAN_A
exit 

int ran fa0/23-24
sw mo acc
switchport access vlan 45
descr ACCESS_VLAN_B
exit 

int gi0/1
switchport mode trunk
switchport trunk allowed vlan 34,45
descr SW2_GI0/1_TRUNK_34_45
exit

int ran fa0/1-22
shutdown
exit

_________________________________________________________


enable
conf t
hostname SW2

vlan 34
name VLAN_A
vlan 45
name VLAN_B


int fa0/2
switchport mode access
switchport access vlan 34
descr R2_FA0/0_VLAN_A

int fa0/1
switchport mode access
switchport access vlan 45
descr R2_FA0/1_VLAN_B
exit

int ran fa0/23-24
sw mo acc
switchport access vlan 34
descr ACCESS_VLAN_A
exit 

int gi0/1
switchport mode trunk
switchport trunk allowed vlan 34,45
descr SW1_GI0/1_TRUNK_34_45
exit

int ran fa0/3-22
shutdown
exit

int gi0/2
shut
exit




